body {
    background-color: hsl(236, 45%, 14%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Rubik";
    font-weight: 300, 400, 500;
    font-size: 18px
}

h4 {
    color: white;
}

h1 {
    color: white;
}

p {
    color: white;
}

ul {
    color: white;
    list-style-type:none;
    margin: 0;
    padding: 0;
}


/* Main Div */

.mainDiv {
    width: 860px;
    height: 405px;
    border: 5px solid rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* User data and Time frames */

.reportLayerDiv {
    position: relative;
    width: 23%;
    height: 50%;
    border: 3px solid rgb(11, 11, 11);
    background-color: rgb(115, 0, 255);
    

}

.timeFramesDiv {
    
    width: 100%;
    height: 100%;
    position: absolute;
    border: 3px solid rgb(255, 77, 0);
    background-color: rgb(71, 34, 116);;
}


/* Work */

.workLayerDiv {
    position: relative;
    width: 23%;
    height: 45%;
    background-color: rgb(255, 77, 0);
}

.workDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 3px solid rgb(0, 153, 255);
}

/* Play */

.playLayerDiv {
    position: relative;
    width: 23%;
    height: 45%;
    background-color: rgb(0, 174, 255);
}

.playDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 3px solid rgb(28, 26, 26);
}

/* Study */

.studyLayerDiv {
    position: relative;
    width: 23%;
    height: 45%;
    background-color: rgb(255, 0, 98);
}
.studyDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 3px solid rgb(38, 241, 211);
}

/* Exercise */

.exerciseLayerDiv{
    position: relative;
    width: 23%;
    height: 45%;
    background-color: rgb(20, 179, 89);
}

.exerciseDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 3px solid rgb(69, 68, 94);
    
}

/* Social */

.socialLayerDiv {
    position: relative;
    width: 23%;
    height: 45%;
    background-color: rgb(55, 0, 255);
}

.socialDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 3px solid rgb(70, 36, 48);
}

/* Self care */


.selfCareLayerDiv {
    position: relative;
    width: 23%;
    height: 45%;
    background-color: rgb(255, 208, 0);
    
}
.selfCareDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 3px solid rgb(122, 185, 142);
}