body {
    background-color: hsl(226, 45%, 9%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Rubik";
    font-weight: 300;
    font-size: 18px
}

/* Activities - work/play/study/Exercise/Social/Self care */

h4 {
    color: white;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 25px;

}

/* Activities - hours */

h1 {
    color: white;
    font-weight: 100;
    font-size: 45px;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0px;


    
}

/* Activities - last week/ previous */

p {
    color: hsl(236, 100%, 87%);
    font-size: 14px;
    margin-left: 20px;
    margin-top: 8px;

}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    color: white;
    list-style-type: none;
    margin-top: 338px;
}

li {
    color: hsl(235, 45%, 61%);
    font-size: 15px;
    font-weight: 400;
}

li:hover {
    color: white;
    cursor: pointer;
}






/* Main Div */

.mainDiv {
    width: 1050px;
    height: 470px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sidePanelDiv {
    display: flex;
}

/* User data and Time frames */

.reportLayerDiv {
    position: relative;
    width: 250px;
    height: 68%;
    background-color: hsl(246, 80%, 60%);
    border-radius: 6%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* */
}

.userPic {
    position: relative;
    width: 80px;
    border: 3px solid white;
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.reportText {
    padding-left: 40px;
    margin: 0;
    font-weight: 100;
    font-size: 14px;
    color: hsl(236, 100%, 87%);

}

.userName {
    padding-left: 18px;
    padding-bottom: 40px;
    margin-top: 10px;
    font-weight: 300;
    font-size: 35px;
}




.timeFramesDiv {
    width: 250px;
    height: 470px;
    position: absolute;
    background-color: hsl(237, 42%, 20%);
    border-radius: 6%;

}


/* 6 squares main div */

.sixSquares {
    position: relative;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

/* Work */

.workLayerDiv {
    position: relative;
    width: 30%;
    height: 40%;
    background-color: hsl(15, 100%, 70%);
    padding-top: 37px;
    margin-bottom: 20px;
    border-radius: 6%;
    overflow: hidden;
    /* can hide any content that exceeds the container's boundaries */


}


.workIcon {
    position: absolute;
    height: 70px;
    z-index: 0;
    left: 144px;
    top: -10px;


}


.workDiv {
    width: 100%;
    height: 84%;
    position: absolute;
    background-color: hsl(237, 42%, 20%);
    border-radius: 6%;
    display: flex;
    flex-direction: row;

}



.workDiv:hover{
    background-color: hsl(237, 37%, 29%);
    cursor: pointer;
}


.workDivInnerContent {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 20px;

}

.threeDotsDiv {
    display: flex;
    flex-direction: column;
    width: 10%;
    padding-top: 37px;
    padding-right: 20px;
}

/* .threeDotsIcon:hover {
    fill: rgb(17, 18, 17);
    color: black;
    cursor: pointer;

} */

.threeDotsIcon {
    fill: red;
}


/* Play */

.playLayerDiv {
    position: relative;
    width: 30%;
    height: 40%;
    background-color: hsl(195, 74%, 62%);
    padding-top: 37px;
    border-radius: 6%;
    overflow: hidden;
}

.playIcon {
    position: absolute;
    height: 70px;
    z-index: 0;
    left: 144px;
    top: -10px;


}

.playDiv {
    width: 100%;
    height: 84%;
    position: absolute;
    background-color: hsl(237, 42%, 20%);
    border-radius: 6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.playDivInnerContent {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 20px;

}

.playDiv:hover{
    background-color: hsl(237, 37%, 29%);
    cursor: pointer;
}




/* Study */

.studyLayerDiv {
    position: relative;
    width: 30%;
    height: 40%;
    background-color: hsl(348, 100%, 68%);
    padding-top: 37px;
    border-radius: 6%;
    overflow: hidden;
}

.studyIcon {
    position: absolute;
    height: 70px;
    z-index: 0;
    left: 144px;
    top: -10px;


}

.studyDiv {
    width: 100%;
    height: 84%;
    position: absolute;
    /* border: 3px solid rgb(38, 241, 211); */
    background-color: hsl(237, 42%, 20%);
    border-radius: 6%;
    display: flex;
    flex-direction: row;

}

.studyDivInnerContent {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 20px;
}


.studyDiv:hover{
    background-color: hsl(237, 37%, 29%);
    cursor: pointer;
}




/* Exercise */

.exerciseLayerDiv {
    position: relative;
    width: 30%;
    height: 40%;
    background-color: hsl(145, 58%, 55%);
    padding-top: 37px;
    border-radius: 6%;
    overflow: hidden;
}

.exerciseIcon {
    position: absolute;
    height: 50px;
    z-index: 0;
    left: 144px;
    top: -1px;


}

.exerciseDiv {
    width: 100%;
    height: 84%;
    position: absolute;
    /* border: 3px solid rgb(69, 68, 94); */
    background-color: hsl(237, 42%, 20%);
    border-radius: 6%;
    display: flex;
    flex-direction: row;
}

.exerciseDivInnerContent {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 20px;
}


.exerciseDiv:hover{
    background-color: hsl(237, 37%, 29%);
    cursor: pointer;
}


/* Social */

.socialLayerDiv {
    position: relative;
    width: 30%;
    height: 40%;
    background-color: hsl(264, 64%, 52%);
    padding-top: 37px;
    border-radius: 6%;
    overflow: hidden;
}

.socialIcon {
    position: absolute;
    height: 80px;
    z-index: 0;
    left: 160px;
    top: -10px;


}

.socialDiv {
    width: 100%;
    height: 84%;
    position: absolute;
    /* border: 3px solid rgb(70, 36, 48); */
    background-color: hsl(237, 42%, 20%);
    border-radius: 6%;
    display: flex;
    flex-direction: row;
}

.socialDiv:hover{
    background-color: hsl(237, 37%, 29%);
    cursor: pointer;
}

.socialDivInnerContent {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 20px;
}


/* Self care */


.selfCareLayerDiv {
    position: relative;
    width: 30%;
    height: 40%;
    background-color: hsl(43, 84%, 65%);
    padding-top: 37px;
    border-radius: 6%;
    overflow: hidden;


}

.selfCareIcon {
    position: absolute;
    height: 55px;
    z-index: 0;
    left: 160px;
    top: -10px;


}

.selfCareDiv {
    width: 100%;
    height: 84%;
    position: absolute;
    /* border: 3px solid rgb(122, 185, 142); */
    background-color: hsl(237, 42%, 20%);
    border-radius: 6%;
    display: flex;
    flex-direction: row;

}

.selfCareDiv:hover{
    background-color: hsl(237, 37%, 29%);
    cursor: pointer;
}

.selfCareDivInnerContent {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 20px;
}

